USE [master]
GO
/****** Object:  Database [db_restoran]    Script Date: 30/10/2025 18:20:36 ******/
CREATE DATABASE [db_restoran]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'db_restoran', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_restoran.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'db_restoran_log', FILENAME = N'D:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\db_restoran_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [db_restoran].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [db_restoran]
GO
/****** Object:  Table [dbo].[LogDetail]    Script Date: 30/10/2025 18:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogDetail](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ActionType] [nvarchar](10) NULL,
	[TableName] [nvarchar](50) NULL,
	[RecordID] [int] NULL,
	[ActionDate] [datetime] NULL,
	[PerformedBy] [nvarchar](50) NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogEmployee]    Script Date: 30/10/2025 18:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogEmployee](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ActionType] [nvarchar](10) NULL,
	[EmployeeID] [int] NULL,
	[ActionDate] [datetime] NULL,
	[PerformedBy] [nvarchar](50) NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LogMenu]    Script Date: 30/10/2025 18:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogMenu](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[ActionType] [nvarchar](10) NULL,
	[MenuID] [int] NULL,
	[ActionDate] [datetime] NULL,
	[PerformedBy] [nvarchar](50) NULL,
	[OldValue] [nvarchar](max) NULL,
	[NewValue] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LogSummary]    Script Date: 30/10/2025 18:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- ======================================
-- 6️⃣ VIEW GABUNGAN
-- ======================================
CREATE VIEW [dbo].[vw_LogSummary] AS
SELECT 
    'OrderHeader' AS SourceTable,
    ActionType,
    ActionDate,
    PerformedBy,
    OldValue,
    NewValue
FROM dbo.LogDetail
UNION ALL
SELECT 
    'MsEmployee',
    ActionType,
    ActionDate,
    PerformedBy,
    OldValue,
    NewValue
FROM dbo.LogEmployee
UNION ALL
SELECT 
    'MsMenu',
    ActionType,
    ActionDate,
    PerformedBy,
    OldValue,
    NewValue
FROM dbo.LogMenu;
GO
/****** Object:  Table [dbo].[OrderHeader]    Script Date: 30/10/2025 18:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderHeader](
	[Id_Order] [int] IDENTITY(1,1) NOT NULL,
	[Id_Peg] [int] NOT NULL,
	[Tgl_Order] [datetime] NULL,
	[Status] [nvarchar](20) NULL,
	[Total] [decimal](12, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderDetail]    Script Date: 30/10/2025 18:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderDetail](
	[Id_Detail] [int] IDENTITY(1,1) NOT NULL,
	[Id_Order] [int] NOT NULL,
	[Id_Menu] [int] NOT NULL,
	[Qty] [int] NOT NULL,
	[Harga] [decimal](12, 2) NULL,
	[Subtotal]  AS ([Qty]*[Harga]) PERSISTED,
PRIMARY KEY CLUSTERED 
(
	[Id_Detail] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [dbo].[vw_LaporanPenjualan]    Script Date: 30/10/2025 18:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE VIEW [dbo].[vw_LaporanPenjualan] AS
SELECT 
    CAST(oh.Tgl_Order AS DATE) AS Tanggal,
    COUNT(oh.Id_Order) AS JumlahTransaksi,
    SUM(od.Qty) AS TotalItemTerjual,
    SUM(od.Subtotal) AS TotalPendapatan
FROM dbo.OrderHeader oh
JOIN dbo.OrderDetail od ON oh.Id_Order = od.Id_Order
GROUP BY CAST(oh.Tgl_Order AS DATE);
GO
/****** Object:  Table [dbo].[LogMaster]    Script Date: 30/10/2025 18:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LogMaster](
	[Id_Log] [int] IDENTITY(1,1) NOT NULL,
	[Id_Order] [int] NULL,
	[Id_Peg] [int] NULL,
	[Waktu] [datetime] NULL,
	[Status] [nvarchar](50) NULL,
	[Tgl_Bayar] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Log] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsEmployee]    Script Date: 30/10/2025 18:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsEmployee](
	[Id_Peg] [int] IDENTITY(1,1) NOT NULL,
	[NamaPegawai] [nvarchar](100) NOT NULL,
	[Jabatan] [nvarchar](50) NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](100) NOT NULL,
	[Aktif] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Peg] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MsMenu]    Script Date: 30/10/2025 18:20:37 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MsMenu](
	[Id_Menu] [int] IDENTITY(1,1) NOT NULL,
	[NamaMenu] [nvarchar](100) NOT NULL,
	[Kategori] [nvarchar](50) NULL,
	[Harga] [decimal](12, 2) NOT NULL,
	[Stok] [int] NULL,
	[Status] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Menu] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__MsEmploy__536C85E40902BD0D]    Script Date: 30/10/2025 18:20:37 ******/
ALTER TABLE [dbo].[MsEmployee] ADD UNIQUE NONCLUSTERED 
(
	[Username] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[LogDetail] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[LogEmployee] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[LogMaster] ADD  DEFAULT (getdate()) FOR [Waktu]
GO
ALTER TABLE [dbo].[LogMenu] ADD  DEFAULT (getdate()) FOR [ActionDate]
GO
ALTER TABLE [dbo].[MsEmployee] ADD  DEFAULT ((1)) FOR [Aktif]
GO
ALTER TABLE [dbo].[MsMenu] ADD  DEFAULT ((0)) FOR [Stok]
GO
ALTER TABLE [dbo].[MsMenu] ADD  DEFAULT ((1)) FOR [Status]
GO
ALTER TABLE [dbo].[OrderHeader] ADD  DEFAULT (getdate()) FOR [Tgl_Order]
GO
ALTER TABLE [dbo].[OrderHeader] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[OrderHeader] ADD  DEFAULT ((0)) FOR [Total]
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([Id_Menu])
REFERENCES [dbo].[MsMenu] ([Id_Menu])
GO
ALTER TABLE [dbo].[OrderDetail]  WITH CHECK ADD FOREIGN KEY([Id_Order])
REFERENCES [dbo].[OrderHeader] ([Id_Order])
GO
ALTER TABLE [dbo].[OrderHeader]  WITH CHECK ADD FOREIGN KEY([Id_Peg])
REFERENCES [dbo].[MsEmployee] ([Id_Peg])
GO
USE [master]
GO
